.Data-component {
  text-align: left;
  padding: 25px;
}

.Data-data {
  text-align: left;
  max-width: 100%;
  overflow-x: auto;
  background-color: #476385;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}
